body {

    color: #f7f7f7;
  }

.jumbotron {
    background-image: url("/Users/nataliavelasquez/Dropbox/My Mac (Natalias-MacBook-Pro.local)/Documents/Data_Bootcamp/Week_11_UFOs/UFOs/images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }